.container {
  margin: 0 auto;
  padding-top: 50px;
  width: 300px;
  text-align: left;
  padding: 20px;
  padding-top: 30px;
}

input[type="text"],
select {
  font-size: 12px;
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  /* cursor: pointer; */
}

input[type="submit"]:hover {
  background-color: #747474;
}
input[type="checkbox"] {
  /* background-color: #747474; */
  display: block;
  margin-bottom: 10px;
}

.policy-container {
  font-size: 10px;
  text-align: left;
}

#emailcheck {
  float: left;
  margin-right: 10px;
}

.emailcheck-container {
  font-size: 10px;
}

#policy {
  float: left;
  margin-right: 10px;
}

input:focus {
  color: none;
}
select:focus {
  color: none;
}

div .container {
  border-radius: 5px;
  padding: 20px;
  padding-top: 50px;
}
